h1, h2, h5 { 
  font-family: "proxima-nova-extra-condensed",sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

h4, p, span, ul, li { 
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  color: #147fc9;
  cursor: pointer;
  -moz-transition-duration: .25s;  
  -webkit-transition-duration: .25s;
  transition-duration: .25s;  
}

a:hover {
  color: #32A5F5;
}

em {
  font-style: normal;
  font-weight: 800;
}
