/*

--- SPEED-O-METER -------------------


table of contents:

1. S T R U C T U R E
2. T Y P O G R A P H Y
2. M A I N  I M A G E S
4. F U N C T I O N A L
5. S A V E D  P I E C E S



colors:

#D33C07 -- Base Red for Needle
#EF5120 -- Light Red in Gradient
#C13414 -- Dark Red in Gradient
#EAEAEA -- Slider Background Color


--------------------------------------

*/

/*  1. S T R U C T U R E  */


html {
  background-color: #E6E6E6;
  height: 100%;
  margin: 0;
  padding: 0;
}

body { 
  margin: 0 auto;
}

div[role=main] {
  margin: 0 auto;
  width: 100%;
}

div.numbers {
  margin: 8em auto 1em auto;
  position: relative;  
  height: 300px;  
  width: 550px;
}

div#speedometer {
  margin: -18.9em auto 1em auto;
  position: relative;
  z-index: 100;
}

div[role=contentinfo] {
  margin: 12em auto;
  padding-bottom: 10em;
  width: 550px;

  -moz-column-width: 16em; 
  -webkit-column-width: 16em; 
  -moz-column-gap: 2em; 
  -webkit-column-gap: 2em;
  -webkit-column-rule: 1px solid #DDD;
  -moz-column-rule: 1px solid #DDD;
  
}

/*  2. T Y P O G R A P H Y   */

h3 {
  color: #444;
  font-family: "ronnia",sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

div[role=contentinfo] p {
  color: #444;
  font-family: "ronnia",sans-serif;
  font-size: 1em;  
  font-style: normal;
  font-weight: 300;
  line-height: 1.777em;
  padding: 0;
}

div[role=contentinfo] p:last-child {
  padding-left: 1.5em;
}

cite {
  color: #888;
  display: block;
  font-size: 0.9em;
  padding-top: 5px;
  text-align: right;
}

a {
  color: #A82C11;
}

a:hover {
  color: #888;
}

/*  3. M A I N  I M A G E S  */


img.speedometer-title {
  position: absolute;
    left: 8em;
  bottom: 6em;
  width: 300px;
}

img.cover { 
  margin: 0 auto;
  position: absolute;
    left: 0.2em;
    top: 0em;
  z-index: 200;
}

img.speedometer-numbers {
  margin: 0 0 0 4px;
  opacity: 1;
  position: absolute;
  z-index: 0;
}

/*  4. F U N C T I O N A L  */


#box {
  background: #D33C07;
  background: -webkit-gradient(linear, left top, left bottom, from(#EF5120), to(#C13414));
  background: -moz-linear-gradient(top, #EF5120, #C13414);
  box-shadow: 0 0 4px #BBB;
	
  height: 210px;
  width: 4px;
  margin: 4em auto 8em auto;

  -webkit-transition: -webkit-transform 1.25s ease-out;
  -moz-transition: -moz-transform 1.25s ease-out;
  transition: transform 1.25s ease-out;
	
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
	
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

p.point {
  background: #D33C07;
  background: -webkit-gradient(linear, left top, left bottom, from(#EF5120), to(#C13414));
  background: -moz-linear-gradient(top, #EF5120, #C13414);

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  display: inline-block;
  height: 0.6em;
  width: 0.6em;
  margin: 0;
  position: absolute;
  top: -1.45em;
  left: -0.2em;
}

#slider {
  margin: 0 auto;
  width: 300px;
  background: #EAEAEA;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EAEAEA));
  background: -moz-linear-gradient(top, #FFF, #EAEAEA);
}

.ui-slider .ui-slider-handle {
  background: #D33C07;
  background: -webkit-gradient(linear, left top, left bottom, from(#EF5120), to(#C13414));
  background: -moz-linear-gradient(top, #EF5120, #C13414);
  border: 1px solid #AF3009;
  outline: none;
  width: 8px;
}


/*  5. S A V E D  P I E C E S  */


/* Value input, displays the angle of the needle. 
 * Not wanted right now. */

/*input#amount {
  background: transparent;
  color: #333 !important;
  text-align: left;
	
  position: absolute;
  bottom: -40px;
  left: 255px;
}*/


/* - - - - - SAVED NUMBER POSITIONING CODE - - - - - */


/*
  
  div.speedometer ol {
  list-style: none;
}
 

  div.numbers ol li {
  color: #333;
  display: inline-block;
  font-size: 3.5em;
}

div.numbers ol li.mph-0 {
  position: absolute;
  left: 8px;
  bottom: 5px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

div.numbers ol li.mph-10 {
  position: absolute;
  left: 9px;
  bottom: 86px;
  -webkit-transform: rotate(-68deg);
  -moz-transform: rotate(-68deg);
}

div.numbers ol li.mph-20 {
  position: absolute;
  left: 59px;
  bottom: 172px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

div.numbers ol li.mph-30 {
  position: absolute;
  left: 138px;
  bottom: 233px;
  -webkit-transform: rotate(-22.5deg);
  -moz-transform: rotate(-22.5deg);
}

div.numbers ol li.mph-40 {
  position: absolute;
  left: 235px;
  bottom: 258px;
}

div.numbers ol li.mph-50 {
  position: absolute;
  right: 174px;
  bottom: 244px;
  -webkit-transform: rotate(22.5deg);
  -moz-transform: rotate(22.5deg);
}

div.numbers ol li.mph-60 {
  position: absolute;
  right: 88px;
  bottom: 196px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

div.numbers ol li.mph-70 {
  position: absolute;
  right: 28px;
  bottom: 116px;
  -webkit-transform: rotate(68deg);
  -moz-transform: rotate(68deg);
}

div.numbers ol li.mph-80 {
  position: absolute;
  right: 2px;
  bottom: 15px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}*/
