body {
  background-color: rgba(160, 223, 245, 0.35);
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  margin: 0 2.9em;
  min-width: 1200px;
}

h1 {
  color: #333;
  font-family: 'Lato', serif;
  font-size: 4em;
  font-weight: 900;
  margin: 0.25em 0 0 0;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #FFFFFF;
  width: 121px;
}

h2 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-size: 1.333em;
  font-style: normal;
  text-shadow: 0px 1px 0px #FFFFFF;
}

h1 a {
  color: #333;
  text-decoration: none;
}

h1 a:hover {
  color: #90DDF9;
  text-decoration:none;
}

h3 {
  font-family: 'Crimson Text', serif;
  font-size: 1.777em;
  font-weight: 400;
  line-height: 1.333em;
  margin-bottom: 1.5em;
  margin-top: 1.1em;
  text-shadow: 0px 1px 0px #FFFFFF;
}

h4 {
  color: #333;
  display: inline;
  font-family: 'Lato', serif;
  font-size: 0.75em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 0px 1px 0px #FFFFFF;
  width: 121px;
}

h4 a {
  color: #333;
  text-decoration: none;
}

h4 a:hover {
  color: #90DDF9;
}

a {
  color: #000;
}

cite {
  color: #000;
  letter-spacing: 1px;
  line-height: 1.333em;
  text-shadow: 0px 1px 0px #FFFFFF;
}

blockquote {
  border-left: 3px solid #DDD;
  color: #333;
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.333em;
  margin: 1.5em 0 1.5em 0;
  padding-left: 1em;
  text-shadow: 0px 1px 0px #FFFFFF;
}

button {
  background-color: #333;
  -webkit-box-shadow: 0px 0px 3px #ddd; /* Saf3-4 */
  -moz-box-shadow: 0px 0px 3px #ddd; /* FF3.5 - 3.6 */
  box-shadow: 0px 0px 3px #ddd; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
  float: right;
  font-family: 'Lato', serif;
  font-size: 0.75em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 0px 1px 0px #888;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 28px;
  width: 110px;
}

button a {
  color: #fefeef;
}

button a:hover {
  color: #90DDF9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.news ul {
  list-style: none;
  margin-bottom: 6em;
}

div.news ul li {
  border-left: 3px solid #DDD;
  color: #333;
  font-size: 1.333em;
  line-height: 1.333em;
  margin: 1em 0;
  padding: 5px 0 5px 1em;
  text-shadow: 0px 1px 0px #FFF;
}

div.purchase ul {
  list-style: none;
}

div.purchase li {
  margin: 3em 0 6em 0;
  border-bottom: 1px dashed #BBB;
  text-shadow: 0px 1px 0px #FFF;
}

div[role=navigation] {
  float: left;
  width: 160px;

}

div[role=main] {
  float: left;
  width: 960px;
}

div.about,
div.news,
div.purchase,
div.contact,
div.links,
div.submissions {
  float: left;
  margin: 3em 0 3em 6em;
  width: 50%;
}

div.about p,
div.news p,
div.purchase p,
div.contact p,
div.links p,
div.submissions p {
  font-family: 'Crimson Text', serif;
  font-size: 1.333em;
  font-weight: 400;
  line-height: 1.333em;
  margin-bottom: 1.333em;
  margin-top: 1.8em;
  text-shadow: 0px 1px 0px #FFFFFF;
}

div.about a:hover,
div.news a:hover,
div.contact a:hover {
  color: #90DDF9;
}

nav {
  margin: 5em 0 0 6em;
}  

nav ul li {
  display: inline-block;
  font-family: 'Lato', serif;
  font-size: 0.75em;
  font-weight: 900;
  letter-spacing: 3px;
  margin: 0 3.2em 0 0;
  text-shadow: 0px 1px 0px #FFFFFF;
  text-transform: uppercase;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  color: #90DDF9;
}

aside.snippet {
  float: left;
  width: 250px;
  font-family: 'Crimson Text', serif;
  font-size: 2.3em;
  font-weight: 400;
  line-height: 1.333em;
  text-shadow: 0px 1px 0px #FFFFFF;
  margin: 1.9em 0 0 3em;
}

figure img {
  border: 2px solid #CCC;
  margin: 1em 0;
  width: 250px;
}

img.book {
  border: 2px solid #AAA;
  float: left;
  margin: 0 2em 1em 0;
  width: 6em;
}

div.purchase p {
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.333em;
  margin: 1em 0 1em 0;
  text-shadow: 0px 1px 0px #FFFFFF;
}

blockquote span {
  display: block;
}

div.purchase button a {
  text-decoration: none;
}

div.purchase h3 {
  color: #000;
}

div.purchase h4 {
  line-height: 1.333em;
}

div.purchase button {
  margin: 1em 0 0 0;
}

div.purchase cite {
  display: inline-block;
}

div.contact h3 {
  margin-bottom: 1.5em;
}

div.contact h4 {
  display: block;
  line-height: 1.333em;
  width: 480px;
}

div.contact p {
  font-size: 1.333em;
  line-height: 1.333em;
  margin: 1.5em 0;
}

div.contact ul {
  list-style: none;
  margin: 0 0 1em 0;
}

div.contact ul.address {
  border-left: 3px solid #DDD;
  font-size: 1.5em;
  margin: 1em 0;
  padding: 0 0 0 1em;
  text-shadow: 0px 1px 0px #FFF;
}

div.contact cite {
  font-size: 1.333em;
}

div.links ul {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
  list-style: none;
  margin: 1em 0 2em 0;

}

div.links ul li {
  line-height: 1.333em;
}

div.links h4 {
  margin-bottom: 1em;
}

div.links a {
  text-decoration: none;
}

div.links a:hover {
  color: #90DDF9;
  text-decoration: underline;
}


div.submissions p {
  font-size: 1.2em;
  line-height: 1.333em;
  margin: 1em 0;
}

div.submissions h4 {
  display: block;
  width: 480px;
}

div.submissions h2 {
  line-height: 1.333em;
  margin-top: 1.3em;
}

div.submissions em.closed {
  color: #AAA;
}

h4.event {
  font-size: 1.333em;
  margin: 0.25em 0;
}

div.ribbon {
  border: 5px solid transparent;
  border-top: 5px solid #333;
  border-bottom: 5px solid #333;
  border-left: 0 solid transparent;
  position: relative;
  top: 5.4em;
  left: -2em;
  width: 31px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

div.submissions article h4 {
  margin-bottom: 0.25em;
}
