---
---

$background: #fff;
$dark-gray: #2b363c;
$light-gray: #9eacb3;
$red: #ff574a;
$white: #fff;
$subtle-text: #929ea5;
$blue: #79A0C6;
$highlighter: #f9f771;
$article-text: #82929a;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $background;
  color: $article-text;
  font-size: 110%;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}

::selection {
  background: $highlighter;
  color: $dark-gray;
}

h1, h2, h3, h4, h5 {
  color: $dark-gray;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 600;
}

h1 {
  font-size: 2.2em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2em;
}

h2 {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.3em;
  margin: 1em 0;
}

h2 > a { color: inherit; }

h3 {
  font-size: 1.3em;
  font-weight: 600;
  padding: 1em 0 0 0;
}

h4 {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0.8em 0 1em 0;
}

h5 {
  font-size: 0.7em;
  font-weight: 600;
  color: $dark-gray;
  letter-spacing: 1px;
  margin: 0 0 1.8em 0;
  text-transform: uppercase;
}

em {
  font-family: "brandon-grotesque",sans-serif;
  font-style: italic;
  font-weight: 400;
}

img { width: 100%; }

a {
  color: $blue;
  text-decoration: none;
  &:hover { color: darken($blue, 10%); }
}

blockquote {
  color: $subtle-text;
  font-style: italic;
  line-height: 1.5em;
  margin: 1.3em 0 1.5em 0;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li { margin-bottom: 0.5em; }

.caption {
  font-size: 16px;
}

header {
  overflow: hidden;
  padding: 1.6em 0;
  h2 {
    border-bottom: none;
    color: $light-gray;
    display: inline-block;
    float: none;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0 0 1em 0;
    @media (min-width: 840px) {
      float: left;
      margin: 0;
    }
  }
  .links {
    float: right;
    overflow: hidden;
    padding: 0;
    @media (min-width: 840px) {
      margin-bottom: 0;
      float: right;
    }
    .blog-link {
      color: $dark-gray;
      border-bottom: 2px solid $blue;
      font-weight: 700;
    }
    li {
      display: inline-block;
      font-size: 1em;
      margin: 0;
      padding-right: 1em;
      a {
        color: #99a3a8;
        display: inline-block;
        font-weight: 500;
        text-decoration: none;
        &:hover { color: $blue; }
      }
      &:last-child { padding-right: 0; }
      @media (min-width: 840px) { padding-right: 2em; }
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}

.container.post-list {
  margin-top: 2em;
  @media (max-width: 840px) { margin-top: 1em; }
}

.container article { clear: both; }

.post {
  border-bottom: 1px solid #eee;
  list-style: none;
  padding: 2em 0;
  &:last-child { border-bottom: none; }
  a { color: $dark-gray; }
  h1 { margin: 0.5em 0; }
}

.post-title {
  color: $dark-gray;
  line-height: 1.2em;
  margin-top: 2.2em;
  text-align: center;
}

.post-date {
  display: block;
  color: $blue;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 1.8em 0;
  text-align: center;
  text-transform: uppercase;
}

.post-year {
  border-bottom: 1px solid #eee;
  color: $blue;
  padding-bottom: 0.5em;
  text-align: left;
}

.post-date {
  margin: 0 0 1em 0;
}

article {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 5em auto 2em auto;
  max-width: 700px;
  @media (max-width: 640px) {
    margin: 0 auto 2em auto;
    .post-title {
      margin-top: 1.8em;
    }
  }
  p {
    margin: 0.2em 0 1em 0;
  }
  img {
    border: 1px solid #cecece;
    display: block;
    max-width: 700px;
  }
  ol, ul {
    line-height: 1.5em;
    list-style: disc;
    margin: 1.5em 0;
    padding: 0 0 0 1.1em;
  }
}

figure { margin: 2em 0; }

figcaption {
  color: $subtle-text;
  font-size: 0.8em;
  margin: 0.7em 0;
}

.row {
  margin: 0;
  padding: 0;
}

.column { margin: 2em 0; }

.links.footer {
  display: block;
  padding: 0;
  float: left;
  margin: 0;
}

.links.footer a {
  color: inherit;
  display: inline-block;
  font-size: 0.8em;
  margin: 0 2em 0 0;
}

footer {
  border-top: 1px solid rgba(206, 211, 213, 0.07);
  color: #A8B1B4;
  margin-top: 2em;
  min-height: 60px;
  padding: 1em 0;
  .links {
    padding: 0;
    float: left;
    margin: 0;
    a {
      color: inherit;
      display: inline-block;
      font-size: 0.8em;
      margin: 0 2em 0 0;
    }
  }
}

.button-wrap {
  margin: 3em 0;
  overflow: hidden;
}

.button {
  border: 2px solid $light-gray;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: $light-gray;
  float: left;
  padding: 0.5em;
  text-align: center;
  -webkit-transition: color 0.2s ease, border 0.2s ease;
  -moz-transition: color 0.2s ease, border 0.2s ease;
  -o-transition: color 0.2s ease, border 0.2s ease;
  -ms-transition: color 0.2s ease, border 0.2s ease;
  transition: color 0.2s ease, border 0.2s ease;
  width: 48%;
}

.button.next {
  float: right;
  margin-left: 4%;
}

a:hover.button {
  border: 2px solid $blue;
  color: $blue;
}

.divide {
  border-top: 1px solid #ced3d5;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  padding-bottom: 1.3em;
  width: 30px;
}

.center { text-align: center; }
