---
---

$background: #3a4449;
$dark-gray: #404c51;
$light-gray: #ced3d5;
$red: #ff574a;
$white: #fff;
$mustard: #bba94f;
$text: #c7cdd0;
$subtle-text: #929ea5;


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $background;
  color: $text;
  font-size: 110%;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
  color: $white;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 600;
}

h1 {
  font-size: 2.2em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2em;
}

h2 {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.3em;
  margin: 1em 0;
}

h2 > a {
  color: inherit;
}

h3 {
  color: $white;
  font-size: 1.3em;
  font-weight: 600;
  padding: 1em 0 0 0;
}

h4 {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0.8em 0 1em 0;
}

h5 {
  font-size: 0.7em;
  font-weight: 600;
  color: $mustard;
  letter-spacing: 1px;
  margin: 0 0 1.8em 0;
  text-transform: uppercase;
}

em {
  font-family: "brandon-grotesque",sans-serif;
  font-style: italic;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: $white;
  text-decoration: none;
}

a:hover {
  color: $mustard;
}

blockquote {
  color: $subtle-text;
  font-style: italic;
  line-height: 1.5em;
  margin: 1.3em 0 1.5em 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1.1em;
}

li {
  margin-bottom: 0.5em;
}

header {
  background: #404c51;
  overflow: hidden;
  padding: 1.6em 0;
}

header h2 {
  border-bottom: none;
  color: $white;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

@media (min-width: 840px) {
  header h2 {
    float: left;
    margin: 0;
  }
}

header .links {
  overflow: hidden;
  padding: 0;
}

@media (min-width: 840px) {
  header .links {
    float: right;
  }
}

header .links li {
  display: inline-block;
  font-size: 0.8em;
  margin: 0;
  padding-right: 2em;
}

header .links a {
  color: #99a3a8;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
}

header .links a:hover {
  color: $mustard;
}

header .links li:last-child {
  padding-right: 0;
}

@media (min-width: 840px) {
  header .links li {
    font-size: 1em;
    padding-right: 2em;
  }
}

@media (min-width: 840px) {
  header h2 {
    float: left;
  }

  header .links {
    margin-bottom: 0;
    float: right;
  }
}


.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}

.container.post-list {
  margin-top: 2em;
}

@media (max-width: 840px) {
  .container.post-list {
    margin-top: 1em;
  }
}

.container article {
  clear: both;
}

.post {
  border-bottom: 1px solid rgba(206, 211, 213, 0.07);
  list-style: none;
  padding: 2em 0;
}

.post:first-child {
  border-top: 1px solid rgba(206, 211, 213, 0.07);
}

.post a {
  color: $white;
}

.post h1 {
  margin: 0.5em 0;
}

.post-title {
  line-height: 1.3em;
  margin-top: 2.2em;
  text-align: center;
}

.post-date {
  display: block;
  color: $mustard;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 1.8em 0;
  text-align: center;
  text-transform: uppercase;
}

.post-date.summary {
  margin: 0 0 1em 0;
}

article {
  font-family: "rooney-web",sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 5em auto 2em auto;
  max-width: 700px;
}

@media (max-width: 640px) {
  article {
    margin: 0 auto 2em auto;
  }
  .post-title {
    margin-top: 1.8em;
  }
}

article p {
  margin: 0.2em 0 1em 0;
}

article img {
  border: 1px solid #cecece;
  display: block;
  max-width: 700px;
}

article ol, article ul {
  list-style: disc;
  margin: 1.5em 0;
}

figure {
  margin: 2em 0;
}

figcaption {
  color: $subtle-text;
  font-size: 0.8em;
  margin: 0.7em 0;
}

.row {
  margin: 0;
  padding: 0;
}

.column {
  margin: 2em 0;
}

.links.footer {
  display: block;
  padding: 0;
  float: left;
  margin: 0;
}

.links.footer a {
  color: inherit;
  display: inline-block;
  font-size: 0.8em;
  margin: 0 2em 0 0;
}

.footer {
  border-top: 1px solid rgba(206, 211, 213, 0.07);
  color: #a8b1b4;
  margin-top: 2em;
  min-height: 60px;
  padding: 1em 0;
}

.button-wrap {
  margin: 3em 0;
  overflow: hidden;
}

.button {
  border: 2px solid #cecece;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #a3a6a7;
  float: left;
  padding: 0.5em;
  text-align: center;
  -webkit-transition: color 0.2s ease, border 0.2s ease;
  -moz-transition: color 0.2s ease, border 0.2s ease;
  -o-transition: color 0.2s ease, border 0.2s ease;
  -ms-transition: color 0.2s ease, border 0.2s ease;
  transition: color 0.2s ease, border 0.2s ease;
  width: 48%;
}

.button.next {
  float: right;
  margin-left: 4%;
}

a:hover.button {
  border: 2px solid $mustard;
  color: $mustard;
}

.divide {
  border-top: 1px solid #ced3d5;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  padding-bottom: 1.3em;
  width: 30px;
}

.center {
  text-align: center;
}
