body {
	background-color:#fafafa;
	border-top: 0.563em solid #333;
	color:#000;
	font-family:ronnia,sans-serif;
	font-size:100%;
	font-style:normal;
	font-weight:300;
}

.left-column {
	float: left;
	margin: 0 0 0 1.625em;
	text-align:left;
	width: 12.5em;
}

.left-column a {
	color:#4CC5D5;
}

.left-column ul {
	list-style:none;
}

.left-column ul li {
	margin: 0 0 1.333em 0;
}

.column-head {
	border-top: 2px solid #eee;
	font-family:ronnia,sans-serif;
	font-size:1em;
	font-style:normal;
	font-weight:300;
	margin:0.563em 0 2.369em 0;
	padding:0.563em 0 0 0;
}

.column-body {
	width: 190px;
	font-family:ronnia,sans-serif;
	font-size:0.875em;
	font-style:normal;
	font-weight:300;
	line-height:1.777em;
	margin:1.777em 0 1.777em 0;
}

.column-body a {
	color: #4CC5D5;
	display:block;
	font-family:ronnia,sans-serif;
	font-style:normal;
	font-weight:300;
	margin:0 0 0.3125em 0;
	line-height:1.777em;
	text-decoration:none;
}

.column-body a:hover {
	color: #333;
}

div[role="navigation"] {
	width:37.5em;
	margin:0 0 1em 22.5em;
}

div[role="navigation"] a {
	color:#DDD;
	font-family:bistro-script-web;
	font-size:1.777em;
	font-style:normal;
	font-weight:200;
	text-decoration:none;
}

div[role="navigation"] a:hover {
	color:#4CC5D5;
}

div[role="main"] {
	padding-bottom:3.157em;
	margin:4.209em auto 0 auto;
	width:62.5em;
}

p.date {
	font-family:ronnia,sans-serif;
	font-style:normal;
	font-weight:300;
	margin:4.209em 0 1em 0;
}

h1 { 
	color:#333;
   	font-family:ronnia,sans-serif;
	font-size:3.157em;
	font-style:normal;
	font-weight:700;
	line-height:1.1256em;
   	margin:0 0 0.8908em 0;
}

h2 {
	color:#333;
	font-family:ronnia,sans-serif;
	font-size:1.777em;
	font-style:normal;
	font-weight:200;
	line-height:1.333em;
	margin:0 0 0.75em 0;
	
}

h3 {
	color:#333;
	font-family:ronnia,sans-serif;
   	font-size:1.333em;
	font-style:normal;
	font-weight:300;
	margin:1.777em 0 0.6665em 0;
}

h4 {
	color:#333;
	font-family:ronnia,sans-serif;
	font-size:1em;
	font-style:normal;
	font-weight:400;
	margin:1em 0 0.75em 0;
}

section.blogpost {
	width:37.5em;
	margin:0 0 0 22.5em;
}

section.blogpost a {
	color:#4CC5D5;
}

section.blogpost a:hover {
	color:#333;
}

section.blogpost p {
	font-color:#555;
	line-height:1.777em;
	margin:0 0 1.777em 0;
	width:32.5em;
}

section.blogpost ul, section.blogpost ol {
	line-height:1.777em;
}

section.blogpost ul {
	margin-bottom: 1.777em;
}

section.blogpost ul li {
	list-style:none;
}

section.blogpost ul a, section.blogpost ol a {
	color:#4CC5D5;
}

section.blogpost img {
	border: 2px solid #eee;
	max-width:100%;
}

figure {
	color:#AAA;
	font-size:0.75em;
	margin-bottom:1.777em;
}

figcaption {
	margin-top:0.563em;
}

div[role="contentinfo"] {
	background-color:#f2f2f2;
	height:5.61em;
}

div[role="contentinfo"] .content {
	width:37.5em;
	margin: 0 auto;
	padding-top: 3.157em;
}