/* L A Y O U T */


/* 7. BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/
.cf:before, .cf:after { content: ""; display: block; }
.cf:after { clear: both; }
.ie6 .cf { zoom: 1 }


/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
#container {
	padding: 1.618em;
	margin: 0 auto;
	max-width: 60em;
	}


/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/

header {
  margin: -2.5em auto 0 auto;
}

.top-border {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMUlEQVQIW2NkwAF8jl79z4hNDiSxxVqbEUMSJgHShCKJLIEiiS4Bl8QmAZbEJQGSBAA/0xrtNqNNswAAAABJRU5ErkJggg==);
  border-bottom: 2px solid #4cc5d5;
  height: 50px;
}

article {
  margin: 0 auto;
  padding: 0 2em 2em 2em;
  max-width: 800px;
}

article ul {
  list-style: none;
  margin-left: 0em;
}

figure {
  margin-bottom: 1.777em;
  margin-top: 1.777em;
}

figure img {
  border: 2px solid #EEE;
}

figcaption {
  color: #AAA;
  font-size: 0.75em;
  margin-top: 0.563em;
}

#container {
  padding: 0.809em auto;
  margin: auto;
  max-width: 30em;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 870px;
}

footer {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAOElEQVQIW2P0OXr1PwMW8PD1GwZGbJIgCXlREUxJmATIMBSdyBIokugScElsEmBJ3Q0H/4MsxwYAzXkmAxSIN+EAAAAASUVORK5CYII=);
  border-top: 2px solid #2db0c1;
  color: #FFF;

  float: left;
  margin: 0 auto;
  width: 100%;
}
footer a, footer a:visited, footer a:active {
  color: #FFF;
}
footer a:hover {
  color: #EEE;
}

.column {
  text-align: left;

  float: left;
  padding: 0 2em 2em 2em;
  width: 13.333333333em;
}

.column img {
  margin: 0.5em 1em 0 0;
  height: 30px;
}

.clearfix {
  zoom: 1;

}

.clearfix::before,
.clearfix::after {
  content: " 0020";
  display: block;
  visibility: hidden;
}

.clearfix::after {
  clear: both;
}

#summary {
  padding: 0;
}

::selection {
  background: rgba(76, 197, 213, 0.35);
  color: #333;
}

.portfolio {
  float: left;
  margin-bottom: 2em;
}

.portfolio-item {
  border: 1px solid #DDD;
  float: left;
  height: 180px;
  margin: 0 16px 16px 0;
  width: 254px;
}

.craftsman-swap {
  background: url("/images/craftsman-swap.png") no-repeat;
  background-size: 100%;
}
.als {
  background: url("/images/als.png") no-repeat;
  background-size: 100%;
}
.agile-sketches {
  background: url("/images/agile-sketches.png") no-repeat;
  background-size: 104%;
}
.positioning {
  background: url("/images/positioning.png") no-repeat;
  background-size: 100%;
}
.speedometer {
  background: url("/images/speedometer.png") no-repeat;
  background-size: 100%;
}

.blogpost-list {
  float: left;
  margin-top: 2em;
}

.no-rm {
  margin-right: 0;
}


@media screen and (min-width: 320px) and (max-width: 864px) {
  .portfolio-item {
    max-width: 29%;
  }
}

