<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - Stephanie Briones</title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/blog-posts.css" />
  <link rel="stylesheet" href="/stylesheets/hashgrid.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/hashgrid.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/yks8igg.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div role="main">
	<div class="left-column">
		<p class="column-head">
			Find Me
		</p>
		<p class="column-body">
			<a href="http://twitter.com/smbriones">twitter</a>
			<a href="http://smbriones.tumblr.com">tumblr</a>
			<a href="http://smbriones.facebook.com">facebook</a>
			<a href="#">etc.</a>
		</p>
		<p class="column-head">
			Previous Posts
		</p>
		<p class="column-body">
			{% for post in site.posts limit:5 %}
			<a href="{{ post.url }}">{{ post.title }}</a>
			{% endfor %}
		</p>	
		<p class="column-head">
			About Me
		</p>
		<p class="column-body">
			This is a little bit about me. I don't have a small bio written yet 
			so this is not really saying anything about me. The end.
		</p>		
	</div>
	<div role="navigation">
		<a href="/index.html">Stephanie Briones</a>
	</div>	
	
	<section class="blogpost">
	{{ content }}
	</section>
</div>
</body>
</html>