<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Stephanie Briones</title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="/stylesheets/hashgrid.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/hashgrid.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/yks8igg.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div role="main">
	<div class="left-column">
		<p class="column-head">
			Find Me
		</p>
		<p class="column-body">
			<a href="http://twitter.com/smbriones">twitter</a>
			<a href="http://smbriones.tumblr.com">tumblr</a>
			<a href="http://smbriones.facebook.com">facebook</a>
		</p>	
		<p class="column-head">
			About Me
		</p>
		<p class="column-about">
			I'm currently living in Chicago, IL. I'm married to <a href="http://twitter.com/ryanbriones">@ryanbriones</a>. 
			I'm a design apprentice at <a href="http://www.8thlight.com">8th Light</a>.
		</p>		
	</div>	
	<div role="navigation">
		<a href="/index.html">Stephanie Briones</a>
	</div>	
	
	{{ content }}	
</div>
<!-- footer for later
 <div role="contentinfo">
	<div class="content">
	</div>	
</div> 
-->
</body>
</html>




