/* - - - L A Y O U T - - - */

div[role=main] {
  margin: 0 auto 8em auto;
  max-width: 748px;
  overflow: hidden;
  width: 95%;
}

nav[role=navigation] {
  margin: 0 auto;
  max-width: 748px;
  width: 95%;
}

#intro {
  width: 70%;
}

#syllabus {
  margin: 0 auto;  
  max-width: 748px;
  width: 100%;
}
