/* - - - M O D U L E - - - */


/* - - navigation - - */

nav[role=navigation] {
  background-color: #FAFAFA;
  border-bottom: 1px solid #F5F5F5;
}

.m-top-nav {
  height: 1.602em;
  list-style: none;
  margin: 0 auto;  
  width: 40%;
}

.m-nav-item {
  display: inline-block;
  font-size: 0.79em;
  font-weight: 600;
  float: left;
  margin-top: 0.274em;
  width: 25%;
}

.m-nav-item a {
  border: none;
  color: #333;
  display: inline-block;
  line-height: 2.5em;
  text-decoration: none;
  width: 70%;
}

.m-nav-item a:hover {
  color: #DDD;
}


/* - - Syllabus List Styles - - */

.m-sub-list {
  margin-left: 1em;
}
