/* - - - M O D U L E - - - */


/* - - navigation - - */

.m-top-nav {
  list-style-type: none;
  margin: 1em auto 2em auto;
  overflow: hidden;
}

.m-nav-item, 
.m-current {
  float: left;
}

.m-nav-item a:first-child,
.m-current a:first-child {
  margin-left: 2px;
  margin-right: 10px;
}

.m-nav-item a {
  background: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  color: #555;
  display: inline-block;
  font-size: 0.79em;
  font-weight: 500;
  letter-spacing: 1px;  
  line-height: 1.602em;
  margin: 0 12px;  
  padding: 2px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.m-current a {
  background: transparent;
  border: none;
  border-bottom: 3px solid #444;
  color: #222;
  display: inline-block;
  font-size: 0.79em;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.602em;
  margin: 0 12px;
  padding: 2px 0;
  text-decoration: none;
  text-transform: uppercase;
}


/* - - Home - - */

#intro h1 {
  margin: 1.125em 0 0.889em 0;
}

#intro h2 {
  margin: 1em 0 0.832em 0;
}

.m-left-info {
  float: left;
  margin: 3em 0 2em 0;  
  overflow: hidden;
  width: 50%;
}

.m-right-info {
  float: right;
  margin: 3em 0 2em 0;  
  overflow: hidden;
  width: 46%;
}

.m-left-info img,
.m-right-info img {
  float: left;
  margin: 0.75em 0.5em 0.25em 0;
  width: 58px;
}

.m-resource-list {
  float: left;
  max-width: 254px;
  min-height: 60px;
}

.m-left-info .m-resource-list {
  margin: 0.889em 0 0.5em 0;   
}

.m-right-info .m-resource-list {
  margin: 0.555em 0 0.5em 0;   
}


.m-left-info h6,
.m-right-info h6 {
  font-size: 0.702em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

.m-right-info .m-resource-list li {
  font-size: 1em;
  min-width: 220px;
}

.m-left-info .m-resource-list li {
  display: inline-block;
  font-size: 0.79em;
  font-weight: 500;
  line-height: 1.266em;
  min-width: 220px;
}

.m-left-info .m-resource-list .m-subject-name {
  display: block;
  font-size: 0.79em;
  font-weight: 400;
  line-height: 1.125em;
  margin-top: 0.438em;
  margin-left: 0;
}

.m-icon-title .m-subject-name {
  display: block;
  font-size: 0.79em;  
  font-weight: 500;
  margin-left: 0;
  margin-top: 0.243em;
}


/* - - Syllabus List Styles - - */

.m-sub-list {
  line-height: 1.424em;
  margin-left: 1em;
}

.m-sub-list li { 
  font-size: 1em;  
}

.m-syllabus-list {
  margin: 0;
  overflow: hidden;
}

.m-syllabus-list a {
  border: none;
}

.m-syllabus-section {
  background-color: #F8F8F8; 
  color: #222;  
  font-size: 0.889em;
  font-weight: 500;
  float: left;
  margin: 0.125em 0.346em 0.346em 0;
  padding: 4px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.m-current-section {
  background-color: #E70000;
  color: #FFF !important;  
  font-size: 0.889em;
  font-weight: 500;  
  float: left;
  margin: 0.125em 0.346em 0.346em 0;
  padding: 4px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.m-syllabus-section:hover {
  background-color: #20A0D0;
  color: #FFF;
}

.m-current-section:hover {
  background-color: #C90000;
  color: #FFF;
}

/* - - Projects - - */

.m-project-container {
  display: inline;
  float: left;
  height: auto;
  margin-bottom: 1.5em;
  margin-right: 20px;
  width: 229px;
}

.m-project {
  border: 1px solid #EEE;
  height: 118px;
  overflow: hidden;
  width: 229px;
}

.m-project-title {
  display: inline-block;
  float: left;
  font-weight: 500;
  font-size: 0.79em;
  height: 3em;
  line-height: 1.333em;
  margin: 0.493em 0 1em 0;
  width: 229px;
}

.m-author-name,
.m-subject-name {
  color: #AAA;
  display: inline-block;
  font-size: 0.624em;
  letter-spacing: 1px;
  margin-left: 0.438em;
  text-transform: uppercase;
}

.m-small {
  max-width: 746px;
}

/* - - Readings - - */

.m-reading-container {
  display: inline;
  float: left;
  height: auto;  
  margin-bottom: 1.5em;
  margin-right: 20px;
  width: 229px;
}

.m-reading {
  background-color: #FFF;
  border: 1px solid #EEE;
  height: 120px;
  overflow: hidden;  
}

.m-reading-title {
  display: inline-block;
  float: left;
  font-weight: 600;
  font-size: 0.79em;
  height: 3.5em;
  margin: 0.346em 0 1.333em 0;
  width: 216px;
}

.m-reading-container .m-author-name {
  display: block;
  font-size: 0.79em;
  font-weight: 500;
  margin-left: 0;
  margin-top: 0.243em;
}

/* Project Page */

.m-project-tags {
  margin-top: -1.125em;
}

.m-tag {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #FFF;
  display: inline-block;
  font-size: 0.555em;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0.624em;
  padding: 5px;  
  text-transform: uppercase;
}

.access { 
  background-color: #622880;
}

.css {
  background-color: #888;
}

.html {
  background-color: #F4731E;
}

.jquery { 
  background-color: #E5B91F;
}

.organization {
  background-color: #98A621;
}

.semantics {
  background-color: #444;
}

.seo {
  background-color: #CCC;
}

.type {
  background-color: #E70000;
}

.ux {
  background-color: #20A0D0;
}

.m-project-image {
  height: 300px;
  margin: 2em 0;
  max-width: 748px;
  overflow: hidden;
}

.m-project-image img {
  max-width: 748px;
}

.m-medium-border {
  border: 1px solid #CCC;  
}

.m-light-border {
  border: 1px solid #EEE;  
}

.snippets-container h6 {
  margin: 3em 0 0 0;
}

.snippets-container ul {
  margin: 0.438em 0;
}

/* - - Experiences -- */


.m-exp-container {
  float: left;
  height: auto;
  margin-bottom: 1.5em;
  margin-right: 20px;
  width: 229px;
}

.m-exp {
  background-color: #EEE;
  -webkit-border-radius: 115px;
  -moz-border-radius: 115px;
  border-radius: 115px;
  height: 229px;
  overflow: hidden;
  width: 229px;
}

.m-exp img { 
  margin-top: -2em;
  margin-left: -2.75em
}

.m-exp-title {
  font-size: 0.889em;
  font-weight: 600;
  margin: 0.624em 0;
  text-align: center;
}

.m-exp-title .m-author-name {
  display: block;
  font-size: 0.79em;  
  font-weight: 500;
  margin-left: 0;
  margin-top: 0.243em;
}
