/* - - - M O D U L E - - - */


/* - - navigation - - */

.m-top-nav {
  list-style-type: none;
  margin: 1em auto 2em auto;
  overflow: hidden;
}

.m-nav-item {
  float: left;
}

.m-nav-item a {
  background-color: #EEE;
  border: none;
  color: #333;
  display: inline-block;
  font-size: 0.79em;
  font-weight: 600;
  line-height: 1.602em;
  margin: 0.346em 0.346em 0.346em 0;
  padding: 3px 15px;
  text-decoration: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.m-nav-item a:hover {
  color: #DDD;
}


/* - - Syllabus List Styles - - */

.m-syllabus-list {
  overflow: hidden;
}

.m-sub-list {
  margin-left: 1em;
}

.m-syllabus-section {
  background-color: #EEE;
  border: 1px solid #DDD;
  font-size: 0.702em;
  float: left;
  margin: 0.346em 0.346em 0.346em 0;
  padding: 3px 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.m-current-section {
  background-color: #BBB;
  border: 1px solid #999;
  color: #333;
  font-size: 0.702em;
  float: left;
  margin: 0.346em 0.346em 0.346em 0;
  padding: 3px 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.m-current-section a {
  border: none;
  line-height: 1.5em;
}

.m-syllabus-section a {
  border: none;
  line-height: 1.5em;
}

.m-syllabus-section a:hover {
  color: #CCC;  
}

.m-author-name,
.m-subject-name {
  color: #AAA;
  display: inline-block;
  font-size: 0.624em;
  letter-spacing: 1px;
  margin-left: 0.438em;
  text-transform: uppercase;
}

/* - - Project - - */

.m-project-container {
  display: inline;
  float: left;
  margin-right: 20px;
  height: auto;
  width: 229px;
}

.m-project {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 118px;
  width: 229px;
}

.m-project-title {
  display: inline-block;
  float: left;
  font-weight: 500;
  height: auto;
  margin: 0 0 1em 0;
  width: 229px;
}

