/* - - - S T A T E - - - */


/* iPhone */

@media only screen and (max-width: 640px) {
  
  /* Main Navigation */

  nav[role=navigation] { 
    height: 2.887em;
  }
  
  .m-top-nav {
    height: 2em;    
    width: 95%;
  }
  
  .m-nav-item {
    margin-top: 0.702em;    
  } 
  
  /* Syllabus Navigation */  
  
  .m-syllabus-section,
  .m-current-section {
    font-size: 1.125em;
    margin: 0 0.346em 0.346em 0;
    padding: 3px 15px;
  }

}


