/* - - - S T A T E - - - */


/* - - - - - - - - i P h o n e - - - - - - - - */


@media only screen and (max-width: 640px) {
  

  /* Main Navigation */
 
  .m-nav-item {
    margin-top: 0; 
  } 
  
  .m-nav-item a {
    font-size: 1.125em;
  }
  

  /* Syllabus Navigation */  
  
  .m-syllabus-section,
  .m-current-section {
    font-size: 1.125em;
    margin: 0 0.346em 0.346em 0;
    padding: 3px 15px;
  }


  /* Projects */
  
  .m-project-container {
    background-clip: border-box;
    width: 100%;    
  }

  .m-project {
    background-color: rgba(0, 0, 0, 0.1);
    height: 118px;
    width: auto;
  }

  .m-project-title {
    width: 100%;
  }

}

/* - - - - - - - - i P a d - - - - - - - - */


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Main Navigation */
 
  .m-nav-item {
    margin-top: 0; 
  } 
  
  .m-nav-item a {
    font-size: 1.125em;
  }

  
  /* Syllabus Navigation */  
  
  .m-syllabus-section,
  .m-current-section {
    font-size: 1.125em;
    margin: 0 0.346em 0.346em 0;
    padding: 3px 15px;
  }


  /* Projects */
  
  .m-project-container {
    background-clip: border-box;
    width: 100%;    
  }

  .m-project {
    background-color: rgba(0, 0, 0, 0.1);
    height: 118px;
    width: auto;
  }

  .m-project-title {
    width: 100%;
  }

}

/* - - - - - - - - D E S K T O P   M I N I M I Z E D - - - - - - - - */


@media only screen and (min-device-width: 695px) and (max-width: 786px) {

  .m-project-container {
    background-clip: border-box;
    margin-right: 20px;
    width: 100%;
  }

  .m-project {
    background-color: rgba(0, 0, 0, 0.1);
    height: 118px;
    width: auto;
  }

  .m-project-title {
    width: 100%;
  }


}
